/*######################## Custom Fonts #######################*/

@font-face {
  font-family: ogg;
  src: url(/OggMedium.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap');

/*######################## Base Styles ########################*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  background-color: #e5dede;
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2.5rem;
}

/*###################### Utility Classes ######################*/

.serif {
  font-family: 'ogg', serif;
}

.mirror {
  transform: scaleX(-1);
}

/*######################## Section One ########################*/

.section-one {
  height: 100%;
  background-color: #8c9a65;
}

.section-one .top {
  background-image: url(img/hero-bg.png);
  background-size: cover;
  height: 50vh;
}

.bottom {
  width: 85%;
  height: 50vh;
  margin: 0 auto;
  font-size: 1.3rem;
}

.bottom h1 {
  color: #fff;
}

.bottom p {
  color: #e5dede;
}

.bottom button {
  color: #dce1d1;
  background-color: transparent;
  font-size: 1.5rem;
  border-bottom: 3px solid #dce1d1;
  margin-top: 2vh;
}

/*######################## Section Two ########################*/

.section-two {
  width: 85%;
  margin: 0 auto;
  color: #fff;
  font-size: 1.1rem;
}

.section-two h1 {
  color: #fff;
}

.two-row img {
  width: 40%;
  margin: 0 auto;
  display: block;
}

/*####################### Section Three #######################*/

.section-three {
  background-color: #c1c9d0;
  color: #fff;
}

.section-three h1 {
  width: 85%;
  margin: 0 auto;
}

.section-three button {
  color: #fff;
  background-color: transparent;
  font-size: 1.5rem;
  border-bottom: 3px solid #fff;
}

/* Slider*/

.slider {
  width: 300px;
  height: 300px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  margin-left: 7.5%;
}

.slide {
  width: 300px;
  flex-shrink: 0;
  height: 100%;
  font-size: 1.1rem;
}

.slide img {
  width: 90%;
}

/* */

.section-three button {
  color: #f95b5b;
  background-color: transparent;
  font-size: 1.5rem;
  border-bottom: 3px solid #f95b5b;
  margin-left: 7.5%;
}

/*######################## Section Four #######################*/

.section-four {
  background-color: #9a8065;
  color: #fff;
  font-size: 1.1rem;
}

.inner {
  width: 85%;
  margin: 0 auto;
}

.review {
  border: 3px solid #fff;
  border-radius: 5px;
  padding: 3vw;
}

.reviewer {
  display: flex;
  align-items: center;
}

.reviewer img {
  width: 30%;
  border-radius: 50%;
}

.reviewer p {
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 5vw;
}
